      body,
      form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
      }

      .flex {
        max-width: 881px;
        margin: 0 auto;
        position: static;
      }
      .submission {
        max-width: 380px;
        border: 3px solid;
        padding: 1em 3em;
        margin: 0 auto;
      }

      .plugin {
        max-width: 500px;
      }

      form > * {
        width: 100%;
      }

      .vimeo {
        position: relative;
        display: block;
        padding: 0;
        width: 600px;
        padding-bottom: 56%;
        height: 0;
      }
      .vimeo iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        height: 100%;
        width: 100%;
        border: 0;
      }

      #flash {
        position: fixed;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        pointer-events: none;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
      }

      .flash {
        background: white;
        margin: 10px;
        width: 400px;
        border: 3px solid black;
      }

      .img-container {
        width: 200px;
        height: 200px;
        margin: 10px;
      }

      .img-container img{
        width: 100%;
        height: 100%;
      }

      #gifs {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;

      }


  body{
    font-family:Source Code Pro,sans-serif;
    font-weight:normal;
    color:#0a0a0a
    }

  h1,.h1,h2,.h2,h3,.h3,h4,.h4,h5,.h5,h6,.h6{
    font-family:Montserrat,sans-serif;font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:normal;
    text-transform:none
    }

  .widget .widget-title{
    font-family:Montserrat,sans-serif;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:normal;
    text-transform:none
    }

  .navmenu-nav .nav>li>a{
    font-family:Source Code Pro,sans-serif;
    font-size:24px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:normal;
    text-transform:uppercase
    }

  .navmenu-nav .dropdown-menu>li>a{
    font-family:Source Code Pro,sans-serif;
    font-size:22px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:normal;
    text-transform:uppercase
    }

  .navmenu-brand{
    font-family:Roboto,sans-serif;font-size:32px;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
    letter-spacing:normal;
    text-transform:none;
    height:50px;
    margin-top:-25px;
    line-height:50px
    }

  .section-header .title{
    font-family:Montserrat,sans-serif;
    font-size:38px;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    letter-spacing:normal;
    line-height:1.5em;
    text-transform:none
    }

  .section-header .subtitle{
    font-family:Montserrat,sans-serif;
    font-size:13px;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
    letter-spacing:normal;
    line-height:1.5em;
    text-transform:none
    }

  .content-info{
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
    letter-spacing:normal;
    line-height:2em;
    text-transform:none
    }

  .grid-filters .btn{
    font-family:Open Sans,sans-serif;
    font-size:16px;
    font-style:normal;
    font-variant:normal;
    font-weight:400;
    letter-spacing:normal;
    line-height:0.5em;
    text-transform:none
    }

  a{
  color:#0a0a0a
  }

  .btn-link{
  color:#0a0a0a
  }

  .background-light{
  color:#0a0a0a
  }

  .section.background-light{
  color:#0a0a0a
  }

  .background-light a:not(.btn){
  color:#0a0a0a
  }

  .background-light .btn-link{
  color:#0a0a0a
  }

  .section.background-light a:not(.btn){
  color:#0a0a0a
  }

  .section.background-light .btn-link{
  color:#0a0a0a
  }

  .background-light a:not(.btn):hover{
  color:#fc7753}

  .background-light a:not(.btn):focus{
  color:#fc7753
  }

  .background-light .btn-link:hover{
  color:#fc7753
  }

  .background-light .btn-link:focus{
  color:#fc7753
  }

  .section.background-light a:not(.btn):hover{
  color:#fc7753
  }

  .section.background-light a:not(.btn):focus{
  color:#fc7753
  }

  .section.background-light .btn-link:hover{
  color:#fc7753
  }

  .section.background-light .btn-link:focus{
  color:#fc7753
  }

  .background-dark{
  color:#ffffff
  }

  .section.background-dark{
  color:#ffffff
  }

  .background-dark a:not(.btn){
  color:#eaeaea
  }

  .background-dark .btn-link{
  color:#eaeaea
  }

  .section.background-dark a:not(.btn){
  color:#eaeaea
  }

  .section.background-dark .btn-link{
  color:#eaeaea
  }

  .background-dark a:not(.btn):hover{
  color:#fc7753
  }

  .background-dark a:not(.btn):focus{
  color:#fc7753
  }

  .background-dark .btn-link:hover{
  color:#fc7753
  }

  .background-dark .btn-link:focus{
  color:#fc7753
  }

  .section.background-dark a:not(.btn):hover{
  color:#fc7753
  }

  .section.background-dark a:not(.btn):focus{
  color:#fc7753
  }

  .section.background-dark .btn-link:hover{
  color:#fc7753
  }

  .section.background-dark .btn-link:focus{
  color:#fc7753
  }

  ::-moz-selection{
  background:#fc7753;
  color:#ffffff
  }

  ::selection{
  background:#fc7753;
  color:#ffffff
  }

  .form-control{
  background-color:#e0e0e0;
  border-color:#e0e0e0
  }

  .form-control:focus{
  background-color:#e0e0e0;
  border-color:#e0e0e0
  }

  .navmenu-header-overlay{
  opacity:1
  }

  .navmenu .nav-background-image{
  background-image:url('wp-content/uploads/sites/8/2015/05/of-men-2-compressed.jpg')
  }

  .navmenu-nav .nav-background-overlay{
  background-color:#eaeaea;
  opacity:0.9
  }

  .navmenu-nav .dropdown-menu{
  background-color:#333333
  }

  .content-info .content-info-section.content-info-primary a{
  color:#333333
  }

  .content-info .content-info-section.content-info-secondary a:hover{
  color:#fc7753
  }

  .content-info .content-info-section.content-info-secondary a:focus{
  color:#fc7753
  }

  .background-light .content-info-section{
  color:#0a0a0a
  }

  .background-light .content-info-section a{
  color:#0a0a0a
  }

  .background-light .content-info-section a:hover{
  color:#fc7753
  }

  .background-light .content-info-section a:focus{
  color:#fc7753
  }

  .background-dark .content-info-section{
  color:#ffffff
  }

  .background-dark .content-info-section a{
  color:#eaeaea
  }

  .background-dark .content-info-section a:hover{
  color:#fc7753
  }

  .background-dark .content-info-section a:focus{
  color:#fc7753
  }

  .btn-primary{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary:hover{
  background-color:#fa4a1e;
  border-color:#fa4214
  }

  .btn-primary:focus{
  background-color:#fa4a1e;
  border-color:#fa4214
  }

  .btn-primary.focus{
  background-color:#fa4a1e;
  border-color:#fa4214
  }

  .btn-primary:active{
  background-color:#fa4a1e;
  border-color:#fa4214
  }

  .btn-primary.active{
  background-color:#fa4a1e;
  border-color:#fa4214
  }

  .btn-primary.disabled{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary[disabled]{
  background-color:#fc7753;
  border-color:#fc7753
  }

  fieldset[disabled].btn-primary{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary.disabled:hover{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary[disabled]:hover{
  background-color:#fc7753;
  border-color:#fc7753
  }

  fieldset[disabled].btn-primary:hover{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary.disabled:focus{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary[disabled]:focus{
  background-color:#fc7753;
  border-color:#fc7753
  }

  fieldset[disabled].btn-primary:focus{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary.disabled:active{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary[disabled]:active{
  background-color:#fc7753;
  border-color:#fc7753
  }

  fieldset[disabled].btn-primary:active{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary.disabled.active{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary[disabled].active{
  background-color:#fc7753;
  border-color:#fc7753
  }

  fieldset[disabled].btn-primary.active{
  background-color:#fc7753;
  border-color:#fc7753
  }

  .btn-primary . badge{
  color:#fc7753
  }

  .btn-ghost.btn-primary{
  border-color:#fc7753;
  color:#fc7753
  }

  .btn-ghost.btn-primary:hover{
  background:#fc7753
  }

  .btn-ghost.btn-primary:focus{
  background:#fc7753
  }

  .btn-primary.btn-flat{
  border-color:transparent
  }

  .btn-primary.btn-flat:hover{
  border-color:transparent
  }

  .btn-primary.btn-flat:focus{
  border-color:transparent
  }

  .btn-primary.btn-3d{
  border-color:transparent;
  box-shadow:0 4px 0 #fc7753
  }

  .btn-primary.btn-3d:hover{
  background-color:#fc7753;
  box-shadow:0 2px 0  #fc7753
  }

  .btn-primary.btn-3d:focus{
  background-color:#fc7753;
  box-shadow:0 2px 0  #fc7753
  }

  .btn-primary.btn-3d:active{
  background-color:#fc7753;
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.active{
  background-color:#fc7753;
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xs{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xs:hover{
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xs:focus{
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xs:active{
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xs.active{
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-sm{
  box-shadow:0 3px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-sm:hover{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-sm:focus{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-sm:active{
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-sm.active{
  box-shadow:0 1px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-lg{
  box-shadow:0 6px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-lg:hover{
  box-shadow:0 3px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-lg:focus{
  box-shadow:0 3px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-lg:active{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-lg.active{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xl{
  box-shadow:0 8px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xl:hover{
  box-shadow:0 4px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xl:focus{
  box-shadow:0 4px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xl:active{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-3d.btn-xl.active{
  box-shadow:0 2px 0 #fc7753
  }

  .btn-primary.btn-link{
  background:none;
  border-color:transparent;
  color:#fc7753
  }

  .btn-primary.btn-link:hover{
  color:#fc7753
  }

  .btn-primary.btn-link:focus{
  color:#fc7753
  }

  .btn-primary.btn-link:active{
  color:#fc7753
  }

  .btn-primary.btn-link.active{
  color:#fc7753
  }

  .btn-default.btn-flat{
  border-color:transparent
  }

  .btn-default.btn-flat:hover{
  border-color:transparent
  }

  .btn-default.btn-flat:focus{
  border-color:transparent
  }

  .btn-default.btn-3d{
  border-color:transparent;
  box-shadow:0 4px 0
  }

  .btn-default.btn-3d:hover{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d:focus{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d:active{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.active{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-xs{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d.btn-xs:hover{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-xs:focus{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-xs:active{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-xs.active{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-sm{
  box-shadow:0 3px 0
  }

  .btn-default.btn-3d.btn-sm:hover{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d.btn-sm:focus{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d.btn-sm:active{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-sm.active{
  box-shadow:0 1px 0
  }

  .btn-default.btn-3d.btn-lg{
  box-shadow:0 6px 0
  }

  .btn-default.btn-3d.btn-lg:hover{
  box-shadow:0 3px 0
  }

  .btn-default.btn-3d.btn-lg:focus{
  box-shadow:0 3px 0
  }

  .btn-default.btn-3d.btn-lg:active{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d.btn-lg.active{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d.btn-xl{
  box-shadow:0 8px 0
  }

  .btn-default.btn-3d.btn-xl:hover{
  box-shadow:0 4px 0
  }

  .btn-default.btn-3d.btn-xl:focus{
  box-shadow:0 4px 0
  }

  .btn-default.btn-3d.btn-xl:active{
  box-shadow:0 2px 0
  }

  .btn-default.btn-3d.btn-xl.active{
  box-shadow:0 2px 0
  }

  .btn-default.btn-link{
  background:none;
  border-color:transparent
  }

  .woocommerce #respond input#submit{
  background-color:#fc7753
  }

  .woocommerce #respond input#submit:hover{
  background-color:#fa4a1e
  }

  .woocommerce #respond input#submit:focus{
  background-color:#fa4a1e
  }

  .grid.hentry-grid .hentry .caption:hover .btn-read{
  background-color:#fc7753
  }

  .grid.hentry-grid .hentry .caption:focus .btn-read{
  background-color:#fc7753
  }

  .grid.hentry-grid .hentry.sticky .caption:after{
  background-color:#fc7753
  }

  .grid.hentry-grid .hentry .caption:hover .btn-read:hover{
  background-color:#fa4a1e
  }

  .grid.hentry-grid .hentry .caption:focus .btn-read:hover{
  background-color:#fa4a1e
  }

  .grid.hentry-grid .hentry .caption:hover .btn-read:focus{
  background-color:#fa4a1e
  }

  .grid.hentry-grid .hentry .caption:focus .btn-read:focus{
  background-color:#fa4a1e
  }

  .section-header .section-background-main{
  background-color:#eff7f6
  }

  .section-header .section-background-image{
  background-size:contain;
  background-image:url('noun_70700_cc.png')
  }

  .pswp__bg{
  background-color:#eaeaea
  }

  .pswp--zoomed-in .pswp__top-bar,.pswp--zoomed-in .pswp__caption{
  background-color:#eaeaea
  }

  .pswp__button{
  color:#333333
  }

  .pswp__counter{
  color:#333333
  }

  .pswp__share-modal .pswp__share-tooltip a{
  color:#333333
  }

  .pswp__img--placeholder--blank{
  background-color:#eaeaea
  }

  .woocommerce .product .product-label{
  color:#606060;background-color:#9ee6a7
  }

  .woocommerce .product .product-label:hover{
  color:#606060;
  background-color:#9ee6a7
  }

  .woocommerce .product .product-label:focus{
  color:#606060;
  background-color:#9ee6a7
  }

  @media(min-width:992px){}
  @media(min-width:1320px){

  .navmenu-brand{height:50px;
    margin-top:-25px;
    line-height:50px
  }
  }

  @media(min-width:768px){
  .section-header .title{
  font-size:52px
  }
  }

  @media(min-width:992px){
  .section-header .title{
  font-size:57px
  }
  }

  @media(min-width:1320px){
  .section-header .title{
  font-size:85px
  }
  }

  @media(min-width:768px){
  .section-header .subtitle{
  font-size:19px
  }
  }

  @media(min-width:992px){
  .section-header .subtitle{
  font-size:20px
  }
  }

  @media(min-width:1320px){
  .section-header .subtitle{
  font-size:30px
  }
  }

